<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leo.Mapper">

    <!--
        根据id查询得到users
        resultType所在的包为mybatis_config.xml里typeAliases所指定的package
     -->
    <select id="getUser"
            resultType="User">
        select * from user
    </select>
</mapper>