grant codeBase "file:/Users/qiaojian/Downloads/Test/testmybatis/src/main/java/com/leo/security/lib/-" {
    permission java.io.FilePermission "/Users/qiaojian/Downloads/*", "write";
};
